@{
    ViewData["Title"] = "Blog Page";
}

<section data-class="bg-color-secondary-2-0">
    <div id="">
        <p>
            <a href="~/blog/2016/10/02/introducing-earthml/">Read</a>
        </p>
    </div>
</section> 