@{
    ViewData["Title"] = "Home Page";
    ViewData["video"] =  @Url.Content("~/EarthMlIntro3-SD.mp4");
}

@section BodyClass {frontpage}

@*<section data-class="bg-color-secondary-2-0">
    <div id="">
        <p>The mission is to enable endusers to use the power of machine learning and earth observation to unlock information in a understandable way.</p>
    </div>
</section>
<section data-class="bg-color-secondary-1-0">
    <div id="maincontent1">
        <p>The mission is to enable endusers to use the power of machine learning and earth observation to unlock information in a understandable way.</p>
    </div>
</section>
<section data-class="bg-color-complement-0">
    <div id="maincontent2">
        <p>The mission is to enable endusers to use the power of machine learning and earth observation to unlock information in a understandable way.</p>
    </div>
</section>
<section data-class="bg-color-complement-1">
    <div id="maincontent3">
        <p>The mission is to enable endusers to use the power of machine learning and earth observation to unlock information in a understandable way.</p>
    </div>
</section>*@