

.article-social-icons {
    margin: 1.84615rem 0;
    text-align:center;
    .social-icons-link {
        width: 30px;
        height: 30px;
        margin: 0 7px;
    }

    .social-icons-link a {
        background-color: #eeedea;
    }

    .fa {
        text-decoration: none;
    }
}

.social-icons-link {
    display: inline-table;
    margin-left: 15px;
    text-align: center;

    a {
        color: #847b79;
        display: block;
        background-color: rgba(252,251,247,.13);
        border-radius: 50%;
        width: 32px;
        height: 32px;
        font-size: 15px;
        padding-top: 8px;
    }
}




.no-cover .article-open-item, .no-cover .profile_item, .no-cover .tags-item {
    bottom: 0;
}

.no-cover .article-open-item {
    position: relative;
}

.article-open-item, .profile-item, .tags-item {
    z-index: 9;
}

.article-open-item, .article-item-first, .profile-item {
    left: 0;
    right: 0;
    margin: auto;
    color: #fcfbf7;
    z-index: 9;
}

.article-readNext:after, .article-readNext:before, .container:after, .container:before, .wrap:after, .wrap:before {
    content: "\0020";
    overflow: hidden;
}

.container:after, .container:before, .wrap:after, .wrap:before {
    display: block;
    height: 0;
}


.no-cover .article-head {
    color: #403d34;
}

.article-open-item .article-head, .article-item-first .article-head, .profile-item .article-head, .tags-item .article-head {
    padding-bottom: 0;
}

.article-head {
    padding-bottom: 4.06154rem;
       text-align: center;
}

.footer-subscription, .pagination-pages, .profile-item, .tags-item {
    text-align: center;
}

.no-cover .article-info, .no-cover .tag, .no-cover.article-readNext-story, .no-cover.article-readNext-story .article:before {
    color: #847b79;
}

.article .article-info, .article-info {
    font-size: .923em;
    text-transform: uppercase;
    color: #cec9c4;
}


article {
    &.single-column {
        width: 700px;
        margin: 0 auto;
    }

    @media (max-width: 767px) {
        &.single-column {
            width: auto;
            margin-left: 5%;
            margin-right: 5%;
        }

        .graf--title {
            margin-top: 31px;
        }

        .graf--h3 {
            margin-top: 45px;
        }

        .graf--title {
            font-size: 32px;
            margin-left: -2px;
            line-height: 1.04;
            letter-spacing: -.028em;
        }

        .graf--h3 {
            font-size: 28px;
            margin-left: -1.75px;
            line-height: 1.15;
            letter-spacing: -.02em;
        }

        .graf--subtitle.graf-after--h2, .graf--subtitle.graf-after--h3 {
            margin-top: 5px;
            margin-bottom: 22px;
        }

        .graf--h4.graf-after--h3 {
            margin-top: 23px;
        }

        .graf--h4 {
            margin-top: 31px;
        }

        .graf--subtitle {
            font-size: 23px;
            margin-left: -1.44px;
            line-height: 1.22;
            letter-spacing: -.022em;
        }

        .graf--h4 {
            font-size: 22px;
            margin-left: -1.38px;
            line-height: 1.22;
            letter-spacing: -.018em;
        }

        .article-content[lang] blockquote, .article-content[lang] li, .article-content[lang] p {
            -webkit-hyphens: auto;
            -webkit-hyphenate-limit-before: 2;
            -webkit-hyphenate-limit-after: 3;
            -webkit-hyphenate-limit-lines: 2;
        }


        .graf--p.graf-after--h4 {
            margin-top: 6px;
        }

        .article-content .p {
            margin-top: 30px;
        }

        .article-content p {
            font-size: 18px;
            line-height: 1.5;
            letter-spacing: -.004em;
        }
    }






    .graf--title {
        margin-top: 39px;
    }

    .graf--h3 {
        margin-top: 53px;
    }

    .graf--title {
        letter-spacing: -.02em;
        font-weight: 700;
        font-style: normal;
        font-size: 40px;
        margin-left: -2.5px;
        line-height: 1.04;
        letter-spacing: -.028em;
    }

    .graf--h3 {
        font-weight: 700;
        font-style: normal;
        font-size: 32px;
        margin-left: -2px;
        line-height: 1.15;
        letter-spacing: -.02em;
    }

    .graf--h2, .graf--h3, .graf--h4 {
        color: rgba(0,0,0,.8);
    }


    .graf--subtitle.graf-after--h2, .graf--subtitle.graf-after--h3 {
        margin-top: 5px;
        margin-bottom: 22px;
    }

    .graf--h4.graf-after--h3 {
        margin-top: 31px;
    }

    .graf--h4 {
        margin-top: 39px;
    }

    .graf--subtitle {
        letter-spacing: -.02em;
        font-weight: 300;
        font-style: normal;
        font-size: 27px;
        margin-left: -1.69px;
        line-height: 1.22;
        letter-spacing: -.022em;
    }

    .graf--h4 {
        letter-spacing: -.02em;
        font-weight: 700;
        font-style: normal;
        font-size: 24px;
        margin-left: -1.5px;
        line-height: 1.22;
        letter-spacing: -.018em;
    }

    .graf--kicker, .graf--subtitle {
        color: rgba(0,0,0,.44);
    }

    .article-content + p {
        margin-top: 10px;
    }

    .article-content .p {
        margin-top: 38px;
    }

    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
}
